@font-face {
    font-family: "registration";
    src: url("/registration.ttf");
}

.registration {
    background: linear-gradient(to bottom, #f8d038 0%,#f5ca2e 100%);
    text-align: center;
    font-family: registration, helvetica, ariel, sans-serif;
}