/* Font */
@font-face {
    font-family: "registration";
    src: url("/src/assets/registration.ttf");
}

/* Component-based BEM naming convention */
.registration {
    background: #FFCD00;
    text-align: center;
    font-family: registration, helvetica, ariel, sans-serif;
}

.home__form {
    height: 50vh;
}

.home__form > input {
    width: 384px;
    font-size: 64px;
}

.home__form > button {
    font-size: 24px;
}

.search__link {
    font-size: 24px;
    padding-top: 0;
    padding-bottom: 0;
}

.search__result {
    width: 324px;
    padding-left: 16px;
    padding-right: 16px;
}

.search__result > .registration {
    font-size: 48px;
    border-radius: 6px;
}

.search__result > button {
    all: unset;
    cursor: pointer;
}

.search__toolbar {
    min-width: 256px;
    max-width: 256px;
}

.purchase {
    font-family: registration, helvetica, ariel, sans-serif;
}

.registrations__column {
    text-align: left;
    width: 240px;
}